<section class="footer padding">
    <div class="footerInside">
        <div class="owner">
            <div>© Pascal Nehlsen</div>
            <div><a href="./imprint.html">Legal Notice</a></div>
        </div>
        <div id="socialMedia">
            <a href="https://www.linkedin.com/in/pascal-nehlsen-127493291/" target="_blank"><img
                    src="./src/img/linkedin.png" alt=""></a>
            <a href="https://github.com/PascalNehlsen" target="_blank"><img src="./src/img/github.png" alt=""></a>
            <a href="https://www.xing.com/profile/Pascal_Nehlsen082206" target="_blank"><img src="./src/img/xing.png"
                    alt=""></a>
        </div>
    </div>
</section>