<section class="footer padding">
    <div class="owner">
        <div>© Pascal Nehlsen</div>
        <div><a href="#">Imprint</a></div>
    </div>
    <div class="footerImage">
        <button onclick="loadAndRenderData(); return false;" class=" loadBtn" id="loadBtn" role="button">+</button>
        <img src="./src/img/pokeball.png" alt="Pokeball Picture">
        <span id="showAmount"></span>
    </div>
    <div id="socialMedia">
        <a href="https://www.xing.com/profile/Pascal_Nehlsen082206" target="_blank"><img src="./src/img/xing.png"
                alt=""></a>
        <a href="https://www.linkedin.com/in/pascal-nehlsen-127493291/" target="_blank"><img
                src="./src/img/linkedin.png" alt=""></a>
        <a href="https://github.com/PascalNehlsen" target="_blank"><img src="./src/img/github.png" alt=""></a>
    </div>
</section>