/* GLOBAL */
:root {
  --background-red: #e60012;
  --background-grey: #f5f5f5;
  --global-font: 'Helvetica';
  --backup-font: sans-serif;
}

* {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--global-font), var(--backup-font);
  background-color: var(--background-grey);
}

h1 {
  margin: 0;
}

.padding {
  padding-left: 20px;
  padding-right: 20px;
}

/* HEADER */
.header {
  height: 100px;
  background-color: var(--background-red);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}

/* CONTENT */
.content {
  margin-top: 120px;
  padding-bottom: 120px;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  align-items: center;
}

.pokeCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  width: 160px;
  overflow: hidden;
  height: 200px;
}

.pokeCard span:first-of-type {
  margin-bottom: 5px;
}

.pokeCard:hover {
  cursor: pointer;
}

.pokeCard img {
  margin-top: 10px;
  width: 100px;
  height: 100px;
  transition: transform 225ms ease-in-out;
  filter: drop-shadow(4px 0px 7px #000000);
}

.pokeCard:hover img {
  transform: scale(1.05);
}

.pokeCardHeader {
  display: flex;
  height: 20px;
  margin-top: 5px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.seperator {
  height: 1px;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 100%;
  background-color: bisque;
}

/* FOOTER */
.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100px;
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, rgba(0, 0, 0, 1) 10%, #e60012 16%);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.footer img {
  position: absolute;
  height: 250px;
  margin-bottom: 20px;
}

.footer span {
  font-size: 24px;
  position: absolute;
  bottom: 0;
  font-weight: bold;
}

.loadBtn {
  background-color: transparent;
  border: none;
  color: white;
  padding: 23px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  z-index: 999;
}

.loadBtn:hover {
  border: 8px solid #fff;
  cursor: pointer;
}

/* MEDIA QUERIES */
