/* GLOBAL */
:root {
  --background-red: #e60012;
  --background-grey: #f5f5f5;
  --black: #000;
  --border-color: #ffe4c4;
  --global-font: 'Helvetica';
  --backup-font: sans-serif;
}

* {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--global-font), var(--backup-font);
  background-color: var(--background-grey);
  align-items: center;
}

h2 {
  margin: 0;
  padding-left: 5px;
  padding-top: 2px;
  text-transform: capitalize;
}

h3 {
  height: 20px;
  margin: 0;
  padding-top: 5px;
  width: 100%;
  text-align: center;
  text-transform: capitalize;
}

.padding {
  padding-left: 20px;
  padding-right: 20px;
}

.d-none {
  display: none;
}

.impressum {
  text-align: center;
  max-width: 1920px;
  margin-top: 100px;
  padding-bottom: 120px;
}

.impressum a {
  text-decoration: none;
  color: var(--background-red);
}

/* HEADER */
.header {
  height: 100px;
  background-color: var(--background-red);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
}

.headerInside {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1920px;
  height: 100px;
  width: 100%;
}

.headerInside img {
  height: 70px;
  width: auto;
}

.headerInside input {
  padding: 15px 20px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
}

/* CONTENT */
.content {
  margin-top: 120px;
  padding-bottom: 120px;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  align-items: center;
  max-width: 1920px;
}

.pokeCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  width: 160px;
  overflow: hidden;
  height: 220px;
}

.pokeCard span:first-of-type {
  margin-bottom: 5px;
}

.typesContainer {
  display: flex;
  width: 80%;
  gap: 20px;
  margin-top: 5px;
  justify-content: center;
}

.pokeCard:hover {
  cursor: pointer;
}

.typesContainer span {
  display: flex;
}

.types {
  border: 1px solid #000;
  border-radius: 10px;
  align-items: center;
  height: 25px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

.pokeCard img {
  margin-top: 10px;
  width: 100px;
  height: 100px;
  transition: transform 225ms ease-in-out;
  filter: drop-shadow(4px 0px 7px #000000);
}

.pokeCard:hover img {
  transform: scale(1.05);
}

.seperator {
  height: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  background-color: var(--border-color);
}

/* OPEN CARD */
.popUp {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 999;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardContainer {
  height: 500px;
  width: 400px;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(102, 102, 102);
  background: linear-gradient(
    27deg,
    rgba(102, 102, 102, 1) 0%,
    rgba(255, 255, 255, 1) 47%,
    rgba(102, 102, 102, 1) 100%
  );
  perspective: 1000px;
  position: relative;
}

.largeCard {
  height: 95%;
  width: 95%;
  position: absolute;
  border-radius: 10px;
  transition: transform 0.5s ease-in-out;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.largeCard.back {
  transform: rotateY(180deg);
  width: 95%;
  height: 95%;
  z-index: 1;
}

.largeCard.front {
  transform-origin: center;
  z-index: 2;
}

.largeCard img {
  margin-top: 10px;
  width: 200px;
  height: 200px;
  transition: transform 225ms ease-in-out;
  filter: drop-shadow(4px 0px 7px #000000);
  z-index: 999;
}

.cardContainer:hover .largeCard.front {
  transform: rotateY(-180deg);
}
.cardContainer:hover .largeCard.back {
  display: block;
  transform: rotateY(0deg);
}

.basis {
  display: flex;
  background: rgb(102, 102, 102);
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(102, 102, 102, 0.9) 58%,
    rgba(102, 102, 102, 0.9) 100%
  );
  width: fit-content;
  border-bottom-right-radius: 10px;
  margin-left: -2px;
  padding-right: 10px;
  margin-top: -4px;
  padding-left: 5px;
  font-size: 12px;
  font-weight: bold;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 4px 6px rgba(0, 0, 0, 0.45);
}

.headlineContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 105%;
}

.headlineContainer div:first-of-type {
  display: flex;
  align-items: start;
}

.kp span:first-of-type {
  font-size: 12px;
  font-weight: bold;
}

.kp span:last-of-type {
  font-size: 32px;
  margin-right: 10px;
  font-weight: bold;
}

.imgContainer {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  width: 100%;
}

.pokeDescription {
  height: 15px;
  font-size: 12px;
  position: relative;
  gap: 10px;
  font-weight: bold;
  padding: 2px;
  width: 104%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(102, 102, 102, 0.9) 90%,
    rgba(102, 102, 102, 0.9) 100%
  );
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 4px 6px rgba(0, 0, 0, 0.45);
}

.frontAbility {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  text-transform: capitalize;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  line-height: 1.8;
  gap: 10px;
  text-align: center;
}

#backGif {
  height: 60px;
  width: 60px;
  filter: unset;
  padding-top: 20px;
}

#scream {
  height: 20px;
  width: 20px;
  filter: unset;
}

.gifContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  width: 100%;
  margin-bottom: 20px;
}

.hover {
  font-weight: bold;
  text-align: center;
  font-size: 12px;
  position: absolute;
  bottom: -25px;
}

/* LOAD ANIMATION */
#pokeball {
  animation: spin 2s linear infinite;
  transform-origin: center;
}

.loadAnimationContainer {
  background-color: var(--black);
  position: fixed;
  z-index: 999;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.loadingHeadline {
  color: var(--background-grey);
  margin-top: 10px;
  font-size: 32px;
  font-weight: bold;
}

.red {
  color: var(--background-red);
  font-size: 36px;
}

/* PROGRESS BAR */
.barContainer {
  width: 100%;
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.progress-bar {
  width: 100%;
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  border-radius: 10px;
  height: 30px;
  margin-bottom: 10px;
  overflow: hidden;
}

.progress-bar-fill {
  height: 100%;
  width: 0;
  border-radius: 10px;
  background-color: #76c7c0;
  justify-content: center;
  color: white;
  display: flex;
  align-items: center;
  transition: width 1s ease-in-out;
}

/* FOOTER */
.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100px;
  background: var(--background-red);
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.footerInside {
  max-width: 1920px;
  display: flex;
  height: 100px;
  width: 100%;
  align-items: center;
  z-index: 999;
  justify-content: space-between;
}

.footerImage {
  height: 100px;
  display: flex;
  justify-content: center;
}

.owner {
  display: flex;
  width: 200px;
  height: 100px;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  text-align: start;
}

#socialMedia {
  display: flex;
  width: 200px;
  height: 100px;
  align-items: center;
  gap: 5px;
  justify-content: end;
}

#socialMedia img {
  height: 35px;
}

#socialMedia img:hover {
  height: 40px;
}

.owner a {
  text-decoration: none;
  color: var(--black);
}

.owner a:hover {
  font-weight: bold;
}

.footerImage img {
  position: absolute;
  height: 250px;
  padding-bottom: 400px;
  top: -85px;
}

.footer span {
  font-size: 24px;
  position: absolute;
  bottom: 0;
  font-weight: bold;
}

.loadBtn {
  border-radius: 50px;
  width: 59px;
  height: 60px;
  transition: 0.3s;
  z-index: 999;
  margin-top: 10px;
  font-size: 32px;
  border-width: 0;
  position: relative;
}

.loadBtn:hover {
  border: 8px solid #fff;
  cursor: pointer;
}

/* KEYFRAMES */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* MEDIA QUERIES */
@media (max-width: 850px) {
  .header {
    height: fit-content;
  }

  .headerInside img {
    height: 50px;
  }

  .headerInside input {
    padding: 10px 15px;
  }

  .headerInside {
    flex-direction: column;
    gap: 10px;
    height: unset;
  }

  .content {
    margin-top: 180px;
  }
}

@media (max-width: 650px) {
  .footerImage img {
    display: none;
  }

  .loadBtn {
    margin-top: unset;
  }

  #socialMedia img {
    height: 26px;
  }

  #socialMedia img:hover {
    height: 28px;
  }

  .padding {
    padding-left: 10px;
    padding-right: 10px;
  }

  .footerImage {
    height: 60px;
    margin-bottom: 20px;
  }

  .footer span {
    font-size: 16px;
  }

  .owner div:last-of-type {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .btnLeft img {
    position: absolute;
    top: 30px;
    left: 10px;
  }

  .btnRight img {
    position: absolute;
    top: 30px;
    right: 10px;
  }
}
